.statisticsLanding_ER_header {
  background: linear-gradient(89.8deg, #57cdcf 0.02%, #6be7c0 99.93%);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
