@font-face {
  font-family: Rubik;
  src: url("assets/fonts/rubik-regular.b3d0902b.ttf");
  src: url("assets/fonts/rubik-regular.b3d0902b.ttf"), url("assets/fonts/rubik-medium.c87313aa.ttf"),
    url("assets/fonts/rubik-light.7a06846b.ttf"), url("assets/fonts/rubik-bold.9a6fb6f5.ttf");
}

body {
  color: #626262;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
